<div class="row" style="border: 1px solid black;">
  <div class="col-md-12 col-sm-12" style="padding-bottom: 25px;">
<h1> Contato </h1>
<br>
  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">João Guilherme Moreira Conte</h5>
    </div>
    <p class="mb-1">gui.conte17@gmail.com</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">João Pedro Lacaia Lopes</h5>
    </div>
    <p class="mb-1">joaolacaia96@gmail.com</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Walter Temporal</h5>
    </div>
    <p class="mb-1">walter.temporal@gmail.com</p>
  </a>
</div>
</p>
</div>
</div>