<h1> Contato </h1>

<p>
  Para entrar em contato utilize os emails
  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">João Guilherme Moreira Conte</h5>
    </div>
    <p class="mb-1">gui.conte17@gmail.com</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">João Pedro Lacraia</h5>
    </div>
    <p class="mb-1">jpviadao@gaymail.com</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Walter Chuvarada</h5>
    </div>
    <p class="mb-1">waltinho.homossexual@hotmail.com</p>
  </a>
</div>
</p>