<div class="row" style="border: 1px solid black;">
  <div class="col-md-12 col-sm-12" style="padding-bottom: 25px;">
    <h1> Home</h1>
    <p class="text-justify"> 
      O gerenciador de biblioteca é um sistema que visa a gestão de uma biblioteca escolar,
      fornecendo ao usuário funcionalidades que o permite gerenciar os leitores, livros, emprestimos 
      e devoluções. O gerenciador de biblioteca é um sistema que visa a gestão de uma biblioteca escolar,
      fornecendo ao usuário funcionalidades que o permite gerenciar os leitores, livros, emprestimos 
      e devoluções. O gerenciador de biblioteca é um sistema que visa a gestão de uma biblioteca escolar,
      fornecendo ao usuário funcionalidades que o permite gerenciar os leitores, livros, emprestimos 
      e devoluções. O gerenciador de biblioteca é um sistema que visa a gestão de uma biblioteca escolar,
      fornecendo ao usuário funcionalidades que o permite gerenciar os leitores, livros, emprestimos 
      e devoluções.
    </p>
    <div class="centered">
        <%= image_tag("biblioteca2.png", :alt => "Biblioteca", class:'col-md-4 img-responsive img-rounded center-block') %>
        <%= image_tag("biblioteca.png", :alt => "Biblioteca", class:'col-md-4 img-responsive img-rounded center-block') %>
        <%= image_tag("biblioteca3.png", :alt => "Biblioteca", class:'col-md-4 img-responsive img-rounded center-block') %>
    </div>
    
  </div>
</div>