<div class="row" style="border: 1px solid black;">
  <div class="col-md-12 col-sm-12" style="padding-bottom: 25px;">
    <h1> Sobre</h1>
    <p class="text-justify"> 
      Trabalho desenvolvido no 8º período no curso de Ciência da Computação
      na disciplina de Laboratório de Engenharia de software. Sistema Gerenciador
      de Biblioteca utilizando a linguagem Ruby com o framework Rails, é um sistema que visa a gestão 
      de uma biblioteca escolar, fornecendo ao usuário funcionalidades que o permite gerenciar os leitores, livros, emprestimos 
      e devoluções.. Professor responsavél: Luiz Alberto Gomes.
    </p>    
  </div>
</div>