<div class="container" style="background: #FFF; border: 1px solid black; padding-bottom: 25px;">
  <div class="col-xs-12">
    <h1 class="text-center">Cadastrar Leitor</h1>
  </div>

  <div class="col-md-12">

    <%= render 'readers/form' %>

  </div>
</div>