<div class="container" style="background: #FFF; border: 1px solid black; padding-bottom: 25px;">
  <div class="col-md-12">
    <h1 class="text-center">Editar Livro</h1>
  </div>

  <div class="col-md-12">
    
    <%= render 'books/form' %>

  </div>
</div>
