<div class="container" style="background: #FFF; border: 1px solid black; padding-bottom: 25px;">

<div class="text-center">
    <h1>Cadastrar Livro</h1>
  </div>

  <div class="col-md-12">

    <%= render 'books/form' %>

  </div>
</div>